<% include('../layouts/header') %>
    <%- include('../layouts/css/style') %>
        <main>
            <section id="section-dashboard" class="section-container">
                <a href="/todoCad" class="return-cad btn-style">Cadastrar tarefas</a>
                <div class="dash-box">
                    <h3>TAREFAS</h3>
                </div>

                <div class="container">

                    <table class="table-box">
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Descrição</th>
                            <th>Prioridade</th>
                            <th>Data de expiração</th>
                            <th>Etapa de execução</th>
                            <th>Ação</th>
                        </tr>
                        <!--  -->
                        <div class="task-container">
                            <% if(task.length> 0){

                                for(let i=0; i<task.length; i++){ %>
                                    <tr>
                                        <td>
                                            <%= [i] %>
                                        </td>
                                        <td>
                                            <%= task[i].title %>
                                        </td>
                                        <td>
                                            <%= task[i].description %>
                                        </td>
                                        <td>
                                            <%= task[i].priority %>
                                        </td>
                                        <td id="dateN">
                                            <%= task[i].dateExpiration %>
                                        </td>
                                        <td>
                                            <%= task[i].executionStep %>
                                        </td>
                                        <td>
                                            <a href="/delete-task?id=<%= task[i].id %>" class="delete-btn" >Excluir</a>
                                        </td>
                                    </tr>


                                    <% } } else{ %>
                                        <tr>
                                            <td colspan="5">Não existe tarefas cadastradas</td>
                                        </tr>
                                        <% } %>
                    </table>
                </div>
            </section>
        </main>
        <% include('../layouts/footer') %>